# Visual Studio
.vs/
*.obj
*.pdb
*.user
*.suo
*.ncb
*.opendata
*.aps
*.bsc
*.ilk
*.lib
*.map
*.res
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.bak
*.old
*.log
*.resharper
*.dotCover
*.ide
*.ipr
*.iws
*.nupkg
*.lock.json
*.csproj.user
*.psmdcp
*.ruleset
*.vmd.config
*.webtest
*.rdc
*.rdml
*.sqlproj.user
*.dtproj.user
*.dbmdl.user
*.targets.user
*.build
*.dbproj.user
*.publish.xml
*.ruleset.user
*.snk
*.swr
*.wdproj.user
*.vssscc
*.vsscc
*.vspscc
*.vsc
*.mdf
*.ldf
*.dacpac
*.deploy
*.dsp
*.dsw
*.filters
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sln.docstates
*.sdf
*.sqlite
*.sqlite3
*.db
*.dm1
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf
*.rtf
*.url
*.lnk
*.gz
*.zip
*.rar
*.7z
*.tar
*.bak
*.scc
*.csi
*.cache
*.config.user
*.filters.user
*.nuget/
*.dll
*.exe
*.pdb
bin/
obj/
TestResults/
build/
packages/
publish/
dist/
.DS_Store
.idea/